.list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.list > li {
  margin: 5px;
  background-color: darkkhaki;
  padding: 5px;
}

.thumb {
  overflow: hidden;
  height: 300px;
  width: 200px;
}

.img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
